@import "../../variables.less";


.address-swipeout-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address {
  padding: 10px 0 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .text {
    width: 100%;
    color: @main-color-label;
  }
  & .first {
    font-size: 15px;
    font-weight: normal;
    padding: 5px 0 0 0;
    text-align: justify;

    & .phone {
      margin-left: 15px;
    }
  }
  & .second {
    font-size: 12px;
    padding: 0 0 5px 0;
    text-align: justify;
  }
  & .edit {
    width: 60px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    flex-shrink:0;
    color: @main-color-red;
    & a {
      color: @main-color-red;
      display: block;
      height: 50px;
      line-height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align: middle;
    }
  }
}

.sorry {
  padding: 50px 0 100px;
  text-align: center;
  .sorry-img {
    width: 160px;
    display: block;
    font-size: 0;
    margin: 0 auto;
  }
  .sorry-text {
    font-size: 14px;
    color: #ddd;
  }
}


.group-address {

  .weui-cells {
    margin-top: 0;
    font-size: 15px !important;

    & .weui-cell {
      padding: 15px 15px;
    }

    & .weui-cell, & .vux-cell-box {
      &:before {
        left: 0;
      }
    }
  }

  .weui-label {
    width: 5em !important;
    color: @main-color-label;
  }

  .vux-popup-picker-select {
    & span {
      color: @main-color-label-desc;
    }
    & span.vux-popup-picker-value {
      color: @main-color-label;
    }
  }

  & .vux-input-icon {
    font-size: 15px !important;
  }

  & .weui-input {
    font-size: 15px;
    height: auto;
    line-height: 20px;
  }

  & .vux-input-icon.weui-icon-warn:before, .vux-input-icon.weui-icon-success:before {
    font-size: 15px !important;
  }

  & .weui-textarea {
    font-size: 15px;
  }

}

.form-address-select {
  background: @main-color-white;
}


.address-select {
  padding: 19px 15px;
}
.link-address-select {
  display: block;
}

.address-select-text {
  display: block;
  font-size: 15px;
  line-height: 18px;
}
.address-select-text-sub {
  display: block;
  font-size: 11px;
  line-height: 16px;
}

.confirm-address {
  text-align: left;
  font-size: 12px;
  b {
    color: @main-color-black;
    font-weight: 600;
  }
}

.confirm-delete {
  font-size: 18px;
  color: @main-color-label;
  padding: 15px 0 20px 0;
  display: block;
}
