
@import '~vux/src/styles/reset.less';
@import '~vux/src/styles/1px.less';
@import '~vux/src/styles/tap.less';

@import "./variables.less";

body {
  background-color: @body-bg;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.view-tabbar .weui-tabbar__item {
  & .weui-tabbar__icon > i {
    color: @main-color-black;
  }

  & .weui-tabbar__label {
    font-size: 15px;
    color: @main-color-black;
  }

  &.weui-bar__item_on {

    & .weui-tabbar__icon > i.fa {
      color: @main-color-red;
    }

    & .weui-tabbar__label {
      color: @main-color-red
    }
  }

  &.weui-bar__item_normal {
    & .weui-tabbar__label {
      color: @main-color-yellow;
      background: @main-color-red
    }
  }

  &.tabbar-button__btn {
    font-size: 18px;
    & .weui-tabbar__label {
      font-size: 18px;
      color: @main-color-yellow;
      background-color:@main-color-red;
      border-radius: 0;
      height: 50px;
    }
  }
}

.weui-tabbar__icon + .weui-tabbar__label {
  margin-top: 0 !important;
  font-size: 10px !important;
}

/**
* vue-router transition
*/
.router-view {
  width: 100%;
  height: 100%;
  animation-duration: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  will-change: transform;
  height: 100%;
  position: absolute;
  left: 0;
}

.vux-pop-out-enter-active {
  animation-name: popInLeft;
}

.vux-pop-out-leave-active {
  animation-name: popOutRight;
}

.vux-pop-in-enter-active {
  perspective: 1000px;
  animation-name: popInRight;
}

.vux-pop-in-leave-active {
  animation-name: popOutLeft;
}

@keyframes popInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes popOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes popInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes popOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

/*  div[id^="vux-scroller-"] {
    padding-top: 46px !important;
    padding-bottom: 50px !important;
  }*/

.tabbar-button {
  width: 100%;
  & .tabbar-button__btn {
    font-size: 18px;
    color: @main-color-yellow;
    background-color:@main-color-red;
    border-radius: 0;
    height: 50px;
  }
}

.vux-popup-picker-header {
  color: @main-color-red !important;
}

.weui-dialog__btn {
  font-size: 15px;
}

.weui-dialog__btn_default {
  color: @main-color-label !important;
}

.weui-dialog__btn_primary {
  color: @main-color-red !important;
}
.weui-dialog__ft {
  &:before,&:after {
    border-top-color: @main-color-border !important;
    color: @main-color-border !important;
  }

  & .weui-dialog__btn {
    &:before,&:after {
      border-left-color: @main-color-border !important;
      color: @main-color-border !important;
    }
  }
}
.rotate {
  display: inline-block;
  transform: rotate(-180deg);
}

.pullup-arrow {
  transition: all linear 0.2s;
  color: @main-color-black;
  font-size: 25px;
}

.router-view {
  height: 100%;
}

.panel-padding {
  padding: 15px 15px;
}

.weui-panel {
  &:before, &:after {
    display: none;
  }
}

.weui-btn {

  &.btn-normal {
    font-size: 14px;
    &.padding9px0px {
      padding: 0 0;
    }
    &.padding5px0px {
      padding: 5px 0;
    }
    &.padding10px0px {
      padding: 10px 0;
    }
    &.border30px {
      border-radius: 30px;
      &:after {
        border-radius: 32px;
      }
    }
    &.border40px {
      border-radius: 40px;
      &:after {
        border-radius: 42px;
      }
    }

    &.border44px {
      border-radius: 44px;
      &:after {
        border-radius: 46px;
      }
    }

    &.border50px {
      border-radius: 50px;
      &:after {
        border-radius: 52px;
      }
    }
    &.weui-btn_warn:not(.weui-btn_disabled):active {
      font-size: 14px;
    }
  }

  &.btn-default {
    color: @main-color-red;
    background-color: transparent;
    &:after {
      border-color: @main-color-red;
    }
    &.weui-btn_warn:not(.weui-btn_disabled):active {
      color:@main-color-red;
      background-color: transparent;
    }

    &.btn-fill {
      color: @main-color-yellow;
      background-color: @main-color-red;
      &:after {
        border-color: @main-color-red;
      }
    }
  }

  &.btn-inverse {
    color: @main-color-yellow;
    background-color: transparent;
    &:after {
      border-color: @main-color-yellow;
    }
    &.weui-btn_warn:not(.weui-btn_disabled):active {
      color: @main-color-yellow;
      background-color: transparent;
    }

    &.btn-fill {
      color: @main-color-red;
      background-color: @main-color-yellow;
      &:after {
        border-color: @main-color-yellow;
      }
    }
  }
}

.text-align-center {
  text-align: center;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: @main-color-label-desc;
}

.weui-cells, .weui-cell, .vux-cell-box {
  &:before,&:after {
    border-top-color: @main-color-border !important;
    color: @main-color-border !important;
  }
}


.vux-popup-picker-select-box {
  overflow: hidden;
}

.vux-popup-picker-select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  & span {
    color: @main-color-label-desc;
  }
  & span.vux-popup-picker-value {
    color: @main-color-label;
  }
}

.tabbar-no-border {
  &:after {
    display: none;
  }
}

.tabbar-form {
  width: 100%;
}

.tabbar-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  .btn-w {
    width: 80px;
  }

  .minus, .plus {
    width: 100%;
  }

  .tabbar-input {
    text-align: center;
    height: 50px;
    line-height: 50px;
  }

  tr {
    td {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid @main-color-border;
        color: @main-color-border;
        transform-origin: 0 100%;
        transform: scaleY(0.5);
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        border-right: 1px solid @main-color-border;
        color: @main-color-border;
        transform-origin: 100% 0;
        transform: scaleX(0.5);
        z-index: 1;
      }
    }

    &>td {
      &:last-child {
        &:before {
          display: none;
        }
      }
    }

    &:last-child {
      >td {
        &:after {
          display: none;
        }
      }
    }
  }
  .weui-btn {
    &:after {
      display: none;
    }
  }
  .tabbar-button__btn {
    font-size: 15px;
    padding: 0;
  }

  .weui-btn_default:not(.weui-btn_disabled):active {
    color: @main-color-yellow;
    background-color: @main-color-red;
  }
}
